.mark_add_div{
position:absolute;
top:450px;
left:8px;
width:auto;
height:auto;
}
.mark-table{
width:94em;
color:#550000;
border-collapse:collapse;
}
#heading{
font-size:4em;
color:white;
background-color:#880000;
}
.mark_msg{
color:#BB0000;
font-size:1.2em;
background:white;
text-align:center;
width:420px;
overflow:hidden;
transition:2s;
}
input[type="text"]{
color:#550000;
}
select{
color:#550000;
}
#res-btn{
border:none;
outline:#AA0000;
font-family:"Gill Sans Ultra Bold";
font-size:1.4em;
width:100px;
color:white;
background-color:#AA0000;
padding:0.5px;
cursor:pointer;
}

#sub-btn{
border:none;
margin-right:0.2em;
outline:#AA0000;
font-family:"Gill Sans Ultra Bold";
font-size:1.4em;
width:100px;
color:white;
background-color:rgba(0,0,0,0.5);
padding:0.5px;
cursor:pointer;
}
#sub-btn:hover{
background-color:rgba(60,11,11,0.600);
}
#res-btn:hover{
background-color:rgba(60,9,9,0.600);
}